In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as sk 
import statsmodels as stats

In [10]:
df = pd.read_csv('clean_movie_data.csv')

In [11]:
df.head()

,budget,imdb_id,release_date,revenue,title,month,year,rating,season,genre,profitability
0,356000000.0,tt4154796,2019-04-24,2.797801e+09,Avengers: Endgame,4,2019,PG-13,Spring,Adventure,2.441801e+09
1,300000000.0,tt4154756,2018-04-25,2.046240e+09,Avengers: Infinity War,4,2018,PG-13,Spring,Adventure,1.746240e+09
2,150000000.0,tt0369610,2015-06-06,1.671713e+09,Jurassic World,6,2015,PG-13,Summer,Action,1.521713e+09
3,260000000.0,tt6105098,2019-07-12,1.656943e+09,The Lion King,7,2019,PG,Summer,Adventure,1.396943e+09
4,220000000.0,tt0848228,2012-04-25,1.519558e+09,The Avengers,4,2012,PG-13,Spring,Science Fiction,1.299558e+09

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   budget         1895 non-null   float64
 1   imdb_id        1895 non-null   object
 2   release_date   1895 non-null   object
 3   revenue        1895 non-null   float64
 4   title          1895 non-null   object
 5   month          1895 non-null   int64
 6   year           1895 non-null   int64
 7   rating         1895 non-null   object
 8   season         1895 non-null   object
 9   genre          1882 non-null   object
 10  profitability  1895 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 163.0+ KB

In [ ]:
new_df = df[df.drop(['imdb_id', 'title', 'release_date', ])]